<style>
.jumbotron{
	background-color: #B4E5FF;
	color: #FFFFFF;
	margin-top: -75px;
}
</style>
<style>
.a{
	background-color: #FFFFFF;
	
}
</style>
<style>
.b{
	width:700px;
	height:100px;
	font-size:50px;
}
</style>
<style>
.c{
	font-style: italic;
	font-size:15px;
}
</style>



<div class="jumbotron">
  <% if admin_signed_in? %>
  <h1>Welcom!</h1>
  <p><%= current_admin.email %>님</p>
  <% end %>
</div>
<div class="a">
<div class="b">
<a href="/home/read/<%=@i%>" style="color:#323232">
<span class="glyphicon glyphicon-pencil" aria-hidden="true"><p class="c">POST</span>
</a>
</div>


<div class="b">
<a href="/home/showall" style="color:#323232">
<span class="glyphicon glyphicon-list" aria-hidden="true"><p class="c">BOARD</p></span>
</a>
</div>

<div class="b">
<a href="/" style="color:#323232">
<span class="glyphicon glyphicon-comment" aria-hidden="true"><p class="c">Q&A</p></span>
</a>
</div>

<div class="b">
<a href="/" style="color:#323232">
<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"><p class="c">CONTACT</p></span>
</a>
</div>
</div>
