<style>
.a{
      font-size:30px;
}
</style>
<style>
.b{
      font-size:20px;
      font-family:italic;
      margin-top:10px;
}
</style>
<style>
.form-control{
	width:10%;
}
</style>
<style>
.c{
	margin-top:5%;
}
</style>


<div class="a">
<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
</div>
<p class="b">Delete</p></br>
<div class="c">
<form ation="/home/delete/<%=@i.id%>" method="POST">
<label for="search_password">비밀번호 입력</label>
    <input type="password" class="form-control" value="<%=@i.user_password %>" name="search_password">
    </br>
    <botton type="submit" class="btn btn-default">확인</botton>
</form>
</div>